.chat-group-form
  %h1 新規チャットグループ
  #new_chat_group.new_chat_group
    = form_for(@group) do |f|
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          = f.label :group_name, "新規グループ名", class: "chat-group-form__label"
        .chat-group-form__field--right
          = f.text_field :group_name, id: "chat_group_name", class: "chat-group-form__input", placeholder: "グループ名を入力してください"
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          = f.label :user_ids, "チャットメンバーを追加", class: "chat-group-form__label"
        .chat-group-form__field--right
          .chat-group-form__search.clearfix
            = f.collection_check_boxes(:user_ids, User.all, :id, :name)
            -#%input#user-search-field.chat-group-form__input{placeholder: "追加したいユーザー名を入力してください", type: "text"}/
          #user-search-result
      -#.chat-group-form__field.clearfix
      -#  .chat-group-form__field--left
      -#    %label.chat-group-form__label{for: "group_チャットメンバー"} チャットメンバー
      -#  .chat-group-form__field--right
      -#    #chat-group-users
      -#      #chat-group-user-22.chat-group-user.clearfix
      -#        %input{name: "group[user_ids][]", type: "hidden", value: "22"}/
      -#        .chat-group-user__name
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
        .chat-group-form__field--right
          = f.submit "Save", name: "commit", class: "chat-group-form__action-btn"